*{
	margin: 0;
	padding: 0;
}
body{
	background: #f9f9f9;
}
.container{
	width: 960px;
	padding: 50px 45px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.5);
}
.clearfix:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.logo{
	margin-bottom: 40px;
}

/* TOP=======
====MENU*/

.menu__header{
	min-height: 40px;
	background-image: linear-gradient(to top, #444343 0%, #5e5e5e 100%);
}
.menu{
	padding: 0;
   	list-style: none;
}
.menu__item{
	display: inline-block;
}
.menu__item a{
	display: block;
	border-left: 1px solid #505050;
	border-right: 1px solid #505050;
	color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 10px 30px;
}
.menu__item a:hover{
	background-image: linear-gradient(to top, #2e2e2e 0%, #4a4a4a 100%);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

/*CONTENT=======
=====MENU*/
.nav__item{
	border: 1px solid #e8e8e8;
    width: 240px;
    list-style: none;
    float: left;
}
.nav__icon{
	border-bottom: 1px solid #e8e8e8;
    padding-left: 22px;
}
.nav__icon a{
	color: #656363;
	display: block;
	padding-top: 16px;
	padding-bottom: 14px;
	cursor: pointer;
	font-family: "Open Sans" sans-serif;
    font-size: 13px;
	text-decoration: none;
}
.nav__icon a:hover{
	padding-left: 12px;
	transition: 0.7s;
}

/*======CONTENT=======*/
.content{
	padding-top: 40px;
}
.content__info{
	float: right;
}
.content__img{
	width: 678px;
    height: 400px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.text__content{
	color: #2c2b2b;
	padding-top: 40px;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 625px;
}

/*=====FOOTER======*/
footer{
	background: #e1e1e1;
    height: 40px;
    margin-top: 60px;
}
.munu__footer{
	float: left;
	list-style: none;
}
.footer__icon{
	display: inline-block;
}
.footer__icon a{
	padding: 10px 25px;
	display: block;
	color: #2c2c2c;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
}
.footer__text{
	float: right;
	margin: -25px 30px;
	color: #2c2c2c;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
}
